<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>Voting System</h2>
    <div>
        <a href="/register">Register</a>
        
    </div>
</div>

<div class="container">
    <h2>Login</h2>

    <form method="POST">
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="text" name="aadhaar" placeholder="Aadhaar Number" required>
        <input type="text" name="voter_id" placeholder="Voter ID" required>

        <button type="submit">Login & Verify Face</button>
    </form>

    <p class="msg">{{ msg }}</p>
</div>

</body>
</html>